asgiref==3.8.1
dj-database-url==3.0.0
Django==5.2.3
djangorestframework==3.16.0
numpy==2.2.6
pandas==2.3.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
gunicorn==21.2.0
setuptools>=68.0.0
